@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e7e7e;
}

.container {
  width: 450px;
}

h1 {
  color: #ffffff;
  margin: 0.3em;
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box div {
  width: 100%;
}

.top_box,
.bottom_box {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.inputs,
.currency {
  margin: 0.5rem;
  height: 3.2rem;
}

select {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  width: 30%;
  margin: 1rem;
  padding: 0.6rem;
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
  box-shadow: 2px 2px #d1d5db;
  color: #111827;
}

input {
  font-family: "Raleway", sans-serif;
  margin: 1rem;
  padding: 0.7rem;
  width: 60%;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px #d1d5db;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
}

.btn {
  font-family: "Raleway", sans-serif;
  margin: 1rem;
  padding: 0.7rem;
  width: 30%;
  height: auto;
  background-color: white;
  color: #111827;
  border-radius: 10px;
  box-shadow: 2px 2px #d1d5db;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.currency option {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.currency::-webkit-scrollbar {
  display: none;
}

#conversion-rate {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.5rem;
  color: #ffffff;
}
